{% if error_message %}
<p>
    <strong>{{ error_message }}</strong>
</p>{% endif %}

<form action="{% url 'emotion'%}" method="post">
    {% csrf_token %}openID:
    <br>
    <input type="text" name="openid" />
    <br>Title :
    <br>
    <input type="text" name="title" />
    <br>diary:
    <br>
    <textarea name="diary" rows="10" cols="50"></textarea>
    <br>
    <!-- <input type="text" name="" /> -->
    <!-- <input type="text" name="userid" /> -->
    <!-- <input type="text" name="journal1" /> -->
    <!-- <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label> -->
    <input type="submit" value="提交" />
</form>