{% if error_message %}
<p>
    <strong>{{ error_message }}</strong>
</p>{% endif %}

<form action="{% url 'store_action'%}" method="post">
    {% csrf_token %} openId :
    <br>
    <input type="text" name="openId" />
    <br>nickName:
    <br>
    <input type="text" name="nickName" />
    <br>avatarUrl:
    <br>
    <input type="text" name="avatarUrl" />
    <br>gender:
    <br>
    <input type="text" name="gender" />
    <br>province:
    <br>
    <input type="text" name="province" />
    <br>city:
    <br>
    <input type="text" name="city" />
    <br>country:
    <br>
    <input type="text" name="country" />
    <br>
    <!-- <input type="text" name="" /> -->
    <!-- <input type="text" name="userid" /> -->
    <!-- <input type="text" name="journal1" /> -->
    <!-- <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label> -->
    <input type="submit" value="提交" />
</form>